<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEpgwdoe1eOsRc4LD5kMXchcK3qGOU2IE</string>
	<key>GCM_SENDER_ID</key>
	<string>951464135534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>loginpage-6dace</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-6dace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951464135534:ios:a8157e132b4b52be08cf7f</string>
</dict>
</plist>