<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802871659996-6fe630p3hiq3vd68lkjrefpsgpe18al1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802871659996-6fe630p3hiq3vd68lkjrefpsgpe18al1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802871659996-0uge5nb1c4b5jv7k432puheq836m0n2e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiYYg7yWFBp4RiFwkPyNJs6dZA55yLafA</string>
	<key>GCM_SENDER_ID</key>
	<string>802871659996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.outnest</string>
	<key>PROJECT_ID</key>
	<string>bulusalim-e8e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>bulusalim-e8e7c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802871659996:ios:4944ee3f77885e1fc11319</string>
</dict>
</plist>