<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.authentication-services.account-creation-requires-phone-number</key>
	<true/>
	<key>com.apple.developer.declared-age-range</key>
	<true/>
	<key>com.apple.developer.devicecheck.appattest-environment</key>
	<string>development</string>
	<key>com.apple.developer.location.push</key>
	<true/>
	<key>com.apple.developer.sensitivecontentanalysis.client</key>
	<array>
		<string>analysis</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
</dict>
</plist>
